@import "layout";

$colors:(
        bg:#F5F5F5,
        primary:#1B80B8,
        sec:#E1E9EE,
        drk1:#283E4A,
        drk2:lighten(#94A2AB,20)
);
@function color($color){
  @return map_get($colors,$color);
}
body{
  background-color: color(bg);
}
header{
  top: 0;
  box-sizing: border-box;
  height: 52px;
  width: 100%;
  background-color: color(drk1);
  padding: 0 30px;
  position: fixed;
  z-index: 1000;
}
#flex{
  position: relative;
  max-width: 1128px;
  margin: auto;
  height: 100%;
  display: flex;

  #nav_img{
    margin-right: 12px;
    background:{
      image: url("../img/LinkedIn_logo_initials.png");
      size: contain;
    };
    width: 34px;
    height: 34px;
  }
  form{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    input{
      width: 280px;
      height: 34px;
      background-color: #e1e9ee;
      border: none;
      border-radius: 2px;
      padding: 0 8px 0 28px;
      line-height: 1.75;
      color: rgba(40,62,74,.75);
      font-weight: 400;
      font-size: 14px;
      outline: 0px;

      &:focus{
        background-color: white;
      }
    }
    i{
      position: absolute;
      top: 20px;
      margin-left: 5px;
      font-size: 14px;
      color: rgba(40,62,74,.75);
    }
  }
}

#nav_items{
  position: absolute;
  right: 0px;
  list-style-type: none;
  color: color(drk2);


  li{
    float: left;
    display: block;
    box-sizing: border-box;
    text-align: center;
    padding-top: 10px;
    width: 80px;
    height: 52px;

    i{
      font-size: 20px;
    }
    span{
      font-size: 12px;
      line-height: 1.33333;
      display: block;
      color: #c7d1d8;
      font-weight: 400;
      transition: color .3s;
    }
  }
  .active{
    color: white;
    border-bottom:{
      color: white;
      width: 2px;
      style: solid;
    } ;
  }
}
#main{
  margin-top: 52px;
  padding-top: 50px;
  position: relative;
  .row{
      width: 1128px;
      box-sizing: content-box;
      padding: 0 30px;
      display: block;
      margin: auto;
      position: relative;
  }
}
.a_left{
  float: left;
  padding: 0;
  text-align: center;
  width: 216px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15);
  border-radius: 2px;
  background-color: white;
}
.profile-card{
  border-bottom: 1px solid rgba(0,0,0,.15);
  padding: 12px 12px 16px;
  text-align: center;
  vertical-align: baseline;
}
.bg{
  background: {
    image: url("../img/ng-bviex5lwf3s-unsplash.jpg");
    position: center;
    size: cover;
  };

  display: block;
  height: 54px;
  margin: -12px -12px 0;
}
.profile-pic{
  border: 2px solid #fff;
  box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
  margin: -38px auto 12px;
  background-color: #fff;
  border-radius: 50%;
}
.welcome-txt{
  display: block;
  color: black;
  &:hover{
    color: black;
    text-decoration: none;
  }
}
.update-txt{
  @extend .welcome-txt;
  font-size: smaller;
  color: color(primary);

  &:hover{
    text-decoration: underline;
    color: color(primary);
  }
}
.mid{
  box-sizing: border-box;
  float: left;
  margin-right: -1px;
  width: calc((576px * .5) + 264px);
  margin-bottom: 24px;
  margin-left: calc((576px * 0) - 24px + 49px);
  display: block;
  padding: 0;

  .post{
    position: relative;
    border-radius: 2px;
    margin: 0;
    margin-bottom: 8px;
    background-color: #fff!important;
    color: #84878a;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);

    .flex-display{
      display: flex!important;
    }
  }
}
.post-btns{
  display: flex;
  flex-grow: 1;
  margin: 0;
  align-items: center;
  color: #696c6f;
  border-right: 1px solid rgba(0,0,0,.15);
  padding: 16px!important;
  font-size: 100%;
  i{
    padding-right: 8px;
  }
  &:hover{
    color: color(primary);
    text-decoration: underline;
  }
}
.post-btns2{
  padding: 24px;
  box-shadow: none;
  display: inline-flex;
  color: rgba(0,0,0,.6);
  border-right: 1px solid rgba(0,0,0,.15);
  margin-bottom: auto!important;
  margin-top: auto!important;

  &:hover{
    color: darken(#696c6f,20);
    background-color: #f3f6f8;
  }
}
button{
  background-color: white;
  outline: none;
  border: none;
}
.post-sub{
  background-color: #f3f6f8;
  border-top: 1px solid rgba(0,0,0,.15);
  padding: 12px 16px;
  border-radius: 0 0 2px 2px;
}
hr{
  border: 0;
  height: 1px;
  margin: 1rem 0 24px;
  border-color: rgba(0,0,0,.15);
  border-top: 1px solid rgba(0,0,0,.15);
}

.mypost{
  border-radius: 2px;
  padding: 0;
  padding-bottom: 10px;
  margin-bottom: 8px;
  background-color: #fff;
  position: relative!important;
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  height: 100%!important;

  #top{
    flex-wrap: nowrap;
    padding: 12px 16px 0;
    margin-bottom: 8px;
    align-items: center;
    padding-right: 40px;
    display: flex!important;
    vertical-align: baseline;

    a{
      margin-right: 12px;
      overflow: hidden;
      flex-grow: 1!important;
      display: flex!important;

      &:hover{
        text-decoration: none;
      }

      div:first-child{
        width: 48px;
        float: left;
        height: 48px;
        border-radius: 50%;
        display: block;
        background-image: url("../img/0.jpg");
        background-size: cover;
        background-position: center;
      }
      div:nth-child(2){
        flex-grow: 1;
        flex-basis: 0;
        margin-left: 8px;
        overflow: hidden;
        line-height: 1.3333;
        span:nth-child(1){
          color: black;
          display: block;
          text-decoration: none;
          font-size: 14px;
        }
        span:nth-child(2){
          color: rgba(0,0,0,.6);
          font-size: smaller;
          font-weight: 400;
        }
      }

    }
  }
  #post-txt{
    position: relative;
    margin: 5px 16px;
    margin-bottom: 10px;
    overflow: hidden;
    font-size: 14px;
  }
}

.right{
  float: left;
  margin-right: -1px;
  width: calc((576px * .29167) + 144px);
  padding: 12px 6px;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
  margin-bottom: 24px;
  margin-left: calc((576px * 0) - 24px + 49px);
  display: block;
  overflow: hidden;

  footer{

    nav{
      display: block;
      overflow: hidden;
      box-sizing: border-box;
      padding: 0px;
      margin: 0px;
      list-style: none;
      font-size: 12px;
      line-height: 2;
      text-align: center;

        a{
          display: inline-block;
          margin:0px 13px;
          color: #94A2AB;
          text-decoration: none;
          &:hover{
            color: lighten(#1B80B8,20);
          }
        }
    }
    div {
      margin: 16px auto;
      line-height: 24px;
      text-align: center;
      display: block;
      font-size: 13px;

      svg {
        width: 56px;
        height: 14px;
      }
    }
  }
}
#my-module{
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: none;

  .mm-box{

    height: 430px;
    margin-bottom: 8px;
    width: calc((576px * .5) + 264px);
    position: relative;
    background-color: white;
    margin-right: 94px;
  }
}
.mm-head{
  width: 100%;
  background-color: color(primary);
  height: 48px;
  display: block;

  span{
    transform: rotate(45deg);
    width: 0px;
    height: 0px;
    margin-top: -15px;
    margin-right: 10px;
    text-align:center;
    border-radius: 50%;
    float: right;
    color: white;
    font-size: 48px;
    cursor: pointer;
    &:hover{
      color: black;
    }
  }
}
.pic{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: -23px;
}
#scroll-div{
  position: relative;
  height: calc(100vh - 150px - 208px);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 1;
}
.text-box-container{
  position: relative;
  padding: 16px 32px;
  font-weight: 400;
  color: rgba(0,0,0,.9);
  font-size: 18px;
  line-height: 0.5;

  div[role="textbox"]{
      outline: none;
  }
}
.module-footer{
  position: relative;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e6e9ec;
}
.flex-1{
  flex: 1;
  display: flex;
  align-items: center;

  button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    font-size: 20px;
    color: rgba(0,0,0,0.6);
    transition: {
      property: all;
      duration: .3s;
      timing-function: ease-in;
    };
    &:hover{
      background-color: rgba(0,0,0,0.1);
    }
  }
}
#module-post-btn {
  background-color: color(primary);
  color: white;
  padding: 6px 12px;
  border-radius: 2px;
  outline: none;
  transition: {
    property: all;
    duration: .25s;
  };
  &:hover{
    background-color: darken(color(primary),20);
  }
}
.img-pre-container{
  position: relative;
  margin: 0 32px 16px;
  display: none;

  img{
    width: 100%;
  }
}
.cancel-img{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.4);
  color: white;
  padding: 0;
  line-height: 0;
  transform: rotate(48deg);
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 2;
  &:hover{
    background-color: rgba(0,0,0,0.8);
  }
}
